/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v28-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

  /* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-500 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-600 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }

  :root{
      --grey:#F1F1F1;
      --blue:#1731A2;
      --txtclr:#0D1536;
      --btn:#035ded;
      --txtlight:#BBBBBB;
  }
  *{
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
  }

  body{
      font-family: 'Poppins' , sans-serif;
      line-height: 24px;
  }
  a{
      text-decoration: none;
  }
  ul{
      list-style: none;
  }
  .container{
      width: 1150px;
      margin: auto;
  }

  .spacer{
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .spacerT{
    padding-top: 70px;
  }
  .spacerB{
    padding-bottom: 70px;
  }
  .d-flex{
    display: flex;
    flex-wrap: wrap;
  }
  .justify-between{
    justify-content: space-between;
  }
  .justify-center{
    justify-content: center;
  }
  .aicenter{
    align-items: center;
    /* justify-items: center; */
  }
  

  .font{
      font-size: 13px;
      font-weight: 400;
  }
  
  .bggrey{
    background-color: var(--grey);
    color: #0D1536;
  }

  .btn{
    background-color: var(--btn);
    color: #ffff;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    transition: background-color .5s;
  }

  .btn:hover{
    background-color: var(--blue);
  }

  .rule{
    color: #b3b9d4;
    margin-top: 10px;
  }

  .pad{
    padding-top: 10px;
    padding-right: 30px;
  }

  .ifont{
    font-size: 20px;
    color: var(--btn);
  }

  .margin{
    margin-top: 10px;
  }



/*=============================================================================================================
                                                    Header
  ============================================================================================================= */

  .space{
    padding: 8px 10px;
  }

  .space > i{
    padding-right: 5px;
    font-size: 11px;
  }

  /* logo Header */

  ul > li > a{
    color: var(--txtclr);
    padding-right: 30px;
    font-size: 14px;
    font-weight: 450;
    padding-bottom: 20px;
    /* margin-top: 10px; */
  }

  ul > li > a > i{
    padding-left: 5px;
    align-self: center;
    font-size: 12px;
    font-weight: lighter;
    padding-bottom:0px;
  }
/* 
  .logo{
    margin-top: 20px;
    align-items: center; 
    align-self: center; 
  } */

  .pos{
    align-self: center;
    margin-top: 20px;
  }

  .subparent{
    position: relative;
  }

  .sub{
    position: absolute;
    top: 42px;
    left: -15px;
    box-shadow: 0px 0px 5px 0px #b3b9d4;
    width: max-content;
    padding: 20px;
    border-radius: 8px;
    border-top: var(--btn) solid 3px;
    display: none;
    background-color: #fff;
  }

  .sub > li{
    padding: 8px 20px;
    font-size: 14px;
    color: var(--txtclr);
  }

  .subparent:hover > .sub{
    display: block;
  }

  .mega{
    position: absolute;
    top: 42px;
    left: -280px;
    box-shadow: 0px 0px 5px 0px #b3b9d4;
    width: 750px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-top: var(--btn) solid 3px;
    visibility: hidden;
    background-color: #fff;
  }


  .subparent:hover > .mega{
    visibility: visible;
  }